<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/bundle.css">
  <title>Hannah's Special Day (featuring Dan)</title>
</head>
<body>
  <a href="#main" class="skip-link">Skip to content</a>
  <header>
    <div class="banner">
      <!-- <svg viewBox="0 0 425 300">
        <path id="curve" d="M6,150C49.63,93,105.79,36.65,156.2,47.55,207.89,58.74,213,131.91,264,150c40.67,14.43,108.57-6.91,229-145" />
        <text x="25">
          <textPath xlink:href="#curve">
            You are invited to the wedding of
          </textPath>
        </text>
      </svg> -->
    </div>
    <div>
      You are invited to the wedding of
    </div>
    <div class="handan">
      <img src="/assets/images/yellow_box_-_hannah_copy.png" alt="Han">
      <span>&</span>
      <img src="/assets/images/orange_box_-_dan.png" alt="Dan">
      <img src="/assets/images/pink_banner.png" alt="">
    </div>
    <img src="/assets/images/heart_with_date.png" alt="Saturday, 4th April 2026" class="date">
  </header>
  <nav aria-label="site">
      <ul role="list">
        <li><a href="/" aria-current="page">Home</a></li>
        <li><a href="/#timings">Timings</a></li>
        <li><a href="/#sunday">Sunday Funday</a></li>
        <li><a href="/#camping">Camping Info</a></li>
        <li><a href="/form">RSVP</a></li>
        <li><a href="/#location">Getting there</a></li>
      </ul>
    </nav>
  <main id="main">
    <h1>{{ title }}</h1>
    
    {{ content | safe }}
  </main>
</body>
</html>