<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/bundle.css">
  <title>Hannah's Special Day (featuring Dan)</title>
</head>
<body>
  <a href="#main" class="skip-link">Skip to content</a>
  <header>
    <div class="handan">
      <img src="/assets/images/yellow_box_-_hannah_copy.png" alt="Han">
      <span>&</span>
      <img src="/assets/images/orange_box_-_dan.png" alt="Dan">
      <img src="/assets/images/pink_banner.png" alt="">
    </div>
    <img src="/assets/images/heart_with_date.png" alt="Saturday, 4th April 2026" class="date">
  </header>
  <nav aria-label="site">
      <ul role="list">
        <li><a href="/" aria-current="page">Home</a></li>
        <li><a href="/#timings">Timings</a></li>
        <li><a href="/#sunday">Sunday Funday</a></li>
        <li><a href="/#camping">Camping Info</a></li>
        <li><a href="/form">RSVP</a></li>
        <li><a href="/#location">Getting there</a></li>
      </ul>
    </nav>
  <main id="main flow">
    <h1>{{ title }}</h1>
    
    {{ content | safe }}
  </main>
</body>
</html>